# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
.env
.aider*

# Ignore config.json
config.json

#Ignore cursor rules
.cursorrules

#Ignore Userinput
userinput.py

#Ignore build_and_upload.sh
build_and_upload.sh